BasedOnStyle: Google
ColumnLimit: 100

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveMacros: Consecutive
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
IndentPPDirectives: BeforeHash
InsertTrailingCommas: Wrapped
DerivePointerAlignment: false
PointerAlignment: Left
IntegerLiteralSeparator:
  Decimal: 3
