Checks:
  - '-*'
  - 'bugprone-*'
  - 'cert-*'
  - 'clang-analyzer-*'
  - 'concurrency-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - 'portability-*'
  - 'readability-*'
  # this looks perfectly fine with the parens `if (!(x = get()))`
  - '-bugprone-assignment-in-if-condition'
  - '-bugprone-easily-swappable-parameters'
   # warns on unhandled fprintf return value
  - '-cert-err33-c'
  # warns on not using (unavailable) fprintf_s etc
  - '-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
  - '-misc-no-recursion'
  - '-modernize-use-trailing-return-type'
  # false positives on struct zero init, e.g. struct my_type s = {0};
  - '-modernize-use-nullptr'
  # warns when you define integer constant macros
  - '-modernize-macro-to-enum'
  - '-performance-unnecessary-value-param'
  - '-readability-else-after-return'
  - '-readability-function-cognitive-complexity'
  - '-readability-identifier-length'
  - '-readability-magic-numbers'
  - '-readability-named-parameter'
  # false positives on struct zero init, e.g. struct my_type s = {0};
  - '-readability-implicit-bool-conversion'
  # flags `SL_LOGGING_LEVEL_error` etc.
  - '-readability-identifier-naming'
WarningsAsErrors: '*'
FormatStyle: file
HeaderFilterRegex: '.*'
SystemHeaders: false

CheckOptions:
  - key:   bugprone-suspicious-include.HeaderFileExtensions
    value: 'h'
  - key:   readability-identifier-naming.FunctionCase
    value: lower_case
  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.EnumConstantCase
    value: lower_case # TODO UPPER_CASE
  - key:   readability-identifier-naming.TypedefCase
    value: lower_case
  - key:   readability-identifier-naming.StructCase
    value: lower_case
