BasedOnStyle: Google
ColumnLimit: 100

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveMacros: Consecutive
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
IndentPPDirectives: BeforeHash
InsertTrailingCommas: Wrapped
DerivePointerAlignment: false
PointerAlignment: Left
IntegerLiteralSeparator:
  Decimal: 3
IncludeCategories:
  - Regex: <(std.*|string|unistd|inttypes|limits|math|time|errno|signal)\.h>
    Priority: 0
  - Regex: <(assert|(sys|arpa|netinet)/.*|netdb)\.h>
    Priority: 1
  - Regex: <stufflib.*>
    Priority: 2
  - Regex: '"stufflib.*"'
    Priority: 3
  - Regex: '"\./.*"'
    Priority: 4
  - Regex: .*
    Priority: 5
